body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #252525;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.userQuestion button {
	border: 1px solid gray;
	color: gray;
}

.btn {
  text-transform: uppercase;
  margin: auto auto;
  padding: 10px;
  cursor: pointer;
  background: 1px solid gray;
  font-size: 12px;
  width: 150px;
  position: relative;
  }

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

/* nav component */
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  /*margin: auto;*/
  margin: 0 20% 0 20%;
  width: 900px;
  /* border: 1px solid gray;*/
}

.nav li:first-child {
  padding-left: 0;
}

hr {
	height: 50px;
	border: 1px solid gray;
}

.nav img {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0 10px;
}

.nav .login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
	padding: 0;
	margin: 1.8% 0 0 0;
	width: 230px;
	border: none;
}

/* */
ul {
  padding-left: 0;
  color: rgba(0,0,0,.5);
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  color: rgba(0,0,0,.5);
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: gray;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

/* dashboard page */
.dashboard,
.unanswered, 
.answered,
.userQuestion,
.newQuestionContainer,
.question,
.questionResult,
/*.leaderBoard,*/
.userScore,
.login {
	margin: 40px auto auto;
	width: 440px;
	padding: 10px;
}

.userQuestion,
.newQuestionContainer,
.question,
.questionResult,
/*.leaderBoard,*/
.userScore,
.login {
	border: 1px solid rgba(0,0,0,.29);
}

ul.dashboard-list,
.userQuestion,
.unanswered, 
.answered {
	margin: 0;
	padding: 0;
}

.dashboardBtn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

button#unanswered, 
button#answered {
	font-size: 12px;
	width: 200px;
	border: 1px solid gray;
}

/* UserQuestion component */
.userQuestion {
	margin: 0;
	padding: 0;
}

/* Question component */
.questionForm {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 20px;
}

.questionForm input,
.newQuestion input {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

input#optionOne, input #optionTwo {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.questionForm button, 
.newQuestion button,
.login button {
	margin-top: 10px;
	border: 1px solid gray;
}

/* NewQuestion component */
form .newQuestion {
	border: none;
}

/* QuestionResult component */
.questionResult {
	padding: 10px;
}

.result {
	padding: 10px;
	border: 1px solid dotted;
}

.num {
	font-weight: bold;
}

.circle {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	font-size: 8px;
	color: #fff;
	text-align: center;
	background: orange;
}

.progressBar {
	/* padding: 15px 0; */
	
}

/* login page */
.login {
	padding: 20px;
	border: 1px solid rgba(0,0,0,.29);
	text-align: center;
	margin: 50px auto;
}

.404 {
	margin: 0 20%;
	color: red;
}